:root {
    --color-primary-brand: #4d5ae5;
    --color-pressed-state: #404bbf;
    --color-darck: #2e2f42;
    --color-success: #31d0aa;
    --color-text:  #434455;
    --color-subtle-text: #8e8f99;
    --color-accent: #e7e9fc;
    --color-light: #f4f4fd;
    --color-modal-overlay: rgba(46, 47, 66, 0.4);
    --color-hero-background: rgba(46, 47, 66, 0.7);
    --color-white-background: #fff;
    --color-modal-background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul {
    list-style-type: none; /*убирає маркування списку*/
}

img {
	display: block;
}

.address {
    font-style: normal;
}

body {
    color: var(--color-text);
    background-color: var(--color-white-background);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .visually-hidden {
    position:absolute;
    left: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
} */

.section {
    padding: 120px 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: auto;
}

p {
letter-spacing: 0.02em;
}

.sales-text {
    font-size: 16px;
}

.title-sections {
    color: var(--color-darck);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.title {
    color: var(--color-darck);
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* haeder */

.header {
    border-bottom: 1px solid var(--color-accent);
}

/* .header-container  */
.header .container{
    display: flex;
    justify-content: space-between;
    }

 .header-nav {
    display: flex;
    /* gap: 76px; */
    align-items: center;
 }

.header-menu { 
    display: flex;
    padding: 24px 0;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
    gap: 40px;
   
}


.address-menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header .link-logo,
.footer .link-logo {
    color: var(--color-primary-brand);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
        /* display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px; */
    }

.header-nav .link-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.title-logo-header {
    color: var(--color-darck);
}

.title-logo-header:hover,
.title-logo-header:focus {
    color: var(--color-pressed-state);
}



.link {
    color: var(--color-darck);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* padding: 24px 0; */

}

.link:hover,
.link:focus {
    color: var(--color-pressed-state);
}

.address-link {
    color: var(--color-text);
    text-decoration: none;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: var(--color-pressed-state);
}

/* головна секція */
.hero-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: var(--color-darck);
    padding: 188px 0;
    /* gap: 48px; */
}

.hero-title {
    max-width: 496px;
    color: var(--color-white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero-button {
        display: block;
        min-width: 169px;
        height: 56px;
       
    color: var(--color-white-background);
    background-color: var(--color-primary-brand);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 }

.hero-button:hover,
.hero-button:focus {
background-color: var(--color-pressed-state);
}

/* section feature */

.list-features {
    display: flex;
    gap: 24px;
}

.title-features {
    margin-bottom: 8px;
}

.features-item {
      width: calc((100% - 72px) / 4);
}

/* our team */
.section-team {
    background-color: var(--color-light);
}

.title-sections.team {
    /* padding: 0 0 72px 0; */
    margin-bottom: 72px;
}

.card-team {
    background: var(--color-white-background);
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    width: calc((100% - 72px) / 4);
    gap: 32px;
    /* padding: 0px 0px 32px 0px; */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-description {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px; */
    padding: 32px 0;
  }
.team-description .title {
   text-align: center; 
   margin-bottom: 8px;
}

.team-description .sales-text {
    text-align: center;
}

.list-taem {
    display: flex;
    gap: 24px;
}

/* portfolio */

.title-sections.portfolio {
    /* padding: 0 0 77px 0; */
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    column-gap: 24px;
    row-gap: 48px;
}

.card-portfolio {
    width: calc((100% - 48px) / 3);
}

.portfolio-description {
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid var(--color-accent);
    border-left: 1px solid var(--color-accent);
    border-right: 1px solid var(--color-accent);
    padding: 32px 16px; */
    padding: 32px 16px;
    border: 1px solid var(--color-accent);
    border-top: none;
}

.portfolio-description .title {
    margin-bottom: 8px;
}

/* footer */
.footer {
    background-color: var(--color-darck);
    padding: 100px 0;
 }

 /* .container.backgroung {
    padding: 100px 0;
 } */

 .container-footer {
    display: flex;
    flex-direction: column;
    width: 264px;
    gap: 16px;
 }

/* .link-logo-footer {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: var(--color-light);
} */

.title-logo-footer {
color: var(--color-primary-brand);
}

.title-logo-footer:hover,
.title-logo-footer:focus {
    color: var(--color-pressed-state);
}

.footer .link {
    display: inline-block;
    margin-bottom: 16px;
}

.sales-text-footer {
    color: var(--color-light);
    max-width: 264px;
}

.title-logo-footer {
    color: var(--color-light);
}
